recursive-include docs conf.py *.rst *.dot *.txt
recursive-include src *.py *.html
recursive-include tests *.py

include .bumpversion.cfg
include .coveragerc
include .editorconfig
include .isort.cfg

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include requirements.txt

include staps.conf
include staps.service

include tox.ini .travis.yml
